<div class="container-fluid">
		<div class="backg-image">
	
	<div class="login">
	<h3 style="color: black">Login Here</h3>
	<br>
		
		
	<input type="text" name="uname" placeholder="Enter Customer id" [(ngModel)]="customer_id">
		
		 <input type="password" style="color: black" name="pass" placeholder="Enter password"  [(ngModel)]="password">
		 <br>
		 <br>
		 <br>
		 <input type="submit" (click)="Authenticate()" name="submit" value="login">
		 <br>
		
		 <input type="reset" name="reset" value="cancel">
		 <br>
		 <a href="https://www.gmail.com" style="color: black" >Forgot password??</a>
	
	</div>
	</div>
	</div>